.blogPublished {
  display: flex;
    padding: 20px 0px;
}

.blogPublished p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-transform: capitalize;
  padding-right: 15px;
}


.bpDivision {
  padding: 0 15px;
}

.homeBlogTitle {
  font-family: "Darker Grotesque";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
  color: #03221f;
  margin-bottom: 15px;
}

.postBody{
  text-align: justify;
}


.readMoreBtn {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-decoration: underline;
  transition: 0.3 ease all;
}

.readMoreBtn:hover {
  color: #096a62;
  text-decoration: underline;
}

.homeBlogImg {
  overflow: hidden;
  height: 450px;
  width: 100%;
}

.homeBlogImg img {
  transition: 0.5s ease all;
  height: 100%;
  width: 100%;
  object-fit: cover;
}