.discountArea {
  width: 100%;
  height: 440px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin-top: 100px;
}


.discountContentBox {
  width: 100%;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.discountTitle {
    max-width: 570px;
    font-family: "Darker Grotesque";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 20px;
}
