 .homeBlogArea {
  position: relative;
  margin-top: 120px;
}

.blogPublished {
  display: flex;
    padding: 21px 0px;
    justify-content: center;

}


.blogPublished p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-transform: capitalize;
  padding-right: 15px;
}

.postBody{
  margin-bottom: 15px;
    display: none;
}

.bpDivision {
  padding: 0 15px;
}

.homeBlogTitle {
  font-family: "Darker Grotesque";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
  color: #03221f;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.homeBlogContent {
  text-align: center;
}

.readMoreBtn {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-decoration: underline;
  transition: 0.3 ease all;
}

.readMoreBtn:hover {
  color: #096a62;
  text-decoration: underline;
}

.homeBlogImg {
  overflow: hidden;
  height: 450px;
  width: 100%;
}

.homeBlogImg img {
  transition: 0.5s ease all;
  height: 100%;
  width: 100%;
  object-fit: cover;
}